:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: rgb(255 255 255 / 87%);
	background-color: #19263b;
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden scroll;
}

@media screen and (width <= 664px) {
	body {
		overflow-y: scroll;
	}
}
